.movies-list {
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.movies-list__list {
  padding: 70px 0 10px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  column-gap: 28px;
  row-gap: 32px;
}

.movies-list__button {
  margin-top: 50px;
  margin-bottom: 50px;
  height: 36px;
  color: #fff;
  background-color: #2F2F2F;
  border: none;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0px;
  cursor: pointer;
}

.movies-list__button:hover {
  opacity: 0.8;
}
