.logo-link {
  background-image: url('../../images/logo.svg');
  width: 38px;
  height: 38px;
  min-height: 38px;
  border-radius: 50%;
  align-self: flex-start;
  background-repeat: no-repeat;
  aspect-ratio: 1/1;
}

@media screen and (max-width: 520px) {
  .logo-link {
    align-self: center;
  }
}
