.promo {
  background-color: #073042;
  display: grid;
  grid-template-columns: minmax(600px, 633px) 1fr 310px;
  grid-template-rows: minmax(174px, 212px) 176px 36px;
  grid-template-areas:
    "title . image"
    "subtitle . image"
    "link . .";
  padding-top: 75px;
  padding-bottom: 75px;
}

.promo__title {
  grid-area: title;
  font-size: 50px;
  font-weight: 400;
  line-height: 1.16;
  margin: 0;
}

.promo__subtitle {
  grid-area: subtitle;
  font-size: 13px;
  margin: 0;
  opacity: 0.5;
  max-width: 310px;
}

.promo__image {
  display: block;
  grid-area: image;
  max-width: 310px;
}

.promo__link {
  grid-area: link;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 1.33;
  color: #fff;
  max-width: 128px;
  min-height: 36px;
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 1100px) {
  .promo {
    grid-template-columns: minmax(513px, 633px) 1fr 310px;
  }
}

@media screen and (max-width: 960px) {
  .promo {
    grid-template-columns: minmax(320px, 633px) 1fr 310px;
  }
  .promo__title {
    font-size: 40px;
    line-height: 1.25;
  }
}

@media screen and (max-width: 860px) {
  .promo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 138px;
  }

  .promo__image {
    order: -1;
  }

  .promo__title {
    text-align: center;
    padding-top: 50px;
  }

  .promo__subtitle {
    text-align: center;
    padding-top: 23px;
    max-width: 260px;
  }

  .promo__link {
    margin-top: 93px;
    width: 129px;
  }
}

@media screen and (max-width: 520px) {
  .promo {
    padding-top: 70px;
    padding-bottom: 30px;
  }

  .promo__image {
    max-width: 210px;
  }

  .promo__title {
    font-size: 30px;
    line-height: 1.26;
    letter-spacing: -0.04em;
    padding-top: 45px;
  }

  .promo__subtitle {
    font-size: 13px;
    line-height: 1.26;
    max-width: 260px;
    padding-top: 24px;
  }
  .promo__link {
    margin-top: 78px;
  }
}

