.search-form {
  padding-top: 70px;
  padding-bottom: 10px;
  margin: 0 auto;
  max-width: 1140px;
}

.search-form__form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.search-form__input {
  height: 72px;
  padding: 0 0 0 25px;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  border: 1.5px solid #AAAAAA;
  border-radius: 8px;
  background-color: #202020;
  color: #fff;
}

.search-form__input:focus {
  outline: 2px solid rgb(170, 170, 170, 0.8);
}

.search-form__button {
  height: 52px;
  width: 100px;
  background-color: #4285f4;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  position: absolute;
  right: 10px;
  top: 6%;
}

.search-form__button:hover {
  opacity: 0.7;
}
