.header {
  max-height: 74px;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 18px;
  padding-right: 70px;
  padding-bottom: 18px;
  padding-left: 70px;
}

.header_colored {
  background-color: #073042;
}

.header__home-link {
  background-image: url('../../images/logo.svg');
  width: 38px;
  height: 38px;
  border-radius: 50%;
}

@media screen and (max-width: 860px) {
  .header {
    padding-top: 18px;
    padding-right: 30px;
    padding-bottom: 21px;
    padding-left: 30px;
  }
}

@media screen and (max-width: 520px) {
  .header {
    padding-right: 14px;
    padding-left: 14px;
  }
}
