.section__title_faded {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.11;
  color: #8B8B8B;
  border: none;
  letter-spacing: 0;
}

@media screen and (max-width: 520px) {
  .section__title_faded {
    font-size: 14px;
    line-height: 1.27;
    padding-bottom: 37px;
  }
}
