.techs {
  display: flex;
  flex-direction: column;
  background-color: #272727;
  padding-top: 102px;
  padding-bottom: 100px;
}

.techs__subtitle {
  font-size: 50px;
  font-weight: 400;
  line-height: 1.16;
  text-align: center;
  margin: 90px 0 0;
  letter-spacing: -0.04em;
}

.techs__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
  text-align: center;
  margin: 26px auto 0;
  max-width: 460px;
  letter-spacing: -0.04em;
}

.techs__item {
  list-style: none;
  width: 90px;
  height: 39px;
  background-color: #303030;
  border-radius: 6px;
  text-align: center;
  padding-top: 21px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  letter-spacing: -0.04em;
  text-align: center;
}

.techs__list {
  padding: 0;
  margin: 100px auto 0;
  display: flex;
  column-gap: 10px;
}

@media screen and (max-width: 960px) {
  .techs {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .techs__subtitle {
    margin-top: 80px;
  }

  .techs__text {
    font-size: 12px;
    line-height: 1.5;
    margin-top: 22px;
  }

  .techs__list {
    margin-top: 83px;
  }

  .techs__item {
    width: 84px;
    height: 36px;
    border-radius: 10px;
    font-size: 12px;
    line-height: 1.21;
  }
}
